apiVersion: skaffold/v4beta6
kind: Config
deploy:
  kubectl:
    flags:
      apply: ["--force"]
manifests:
  rawYaml:
    - ../cert-manager/cert-staging-issuer.yaml
    - ../cert-manager/cert-production-issuer.yaml
